<!-- Para a collection - https://github.com/4Soft/iglesiasapi/blob/master/app/views/people/_form.html.erb -->

<!-- Simple Form - https://github.com/plataformatec/simple_form#usage -->


<%= simple_form_for(@assessor) do |f| %>
  <% if @assessor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessor.errors.count, "error") %> prohibited this assessor from being saved:</h2>

      <ul>
      <% @assessor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :role, label: "Cargo na federação" %><br>
  </div>
  <div class="actions">
    <%= f.button :submit, "Enviar" %>
  </div>
<% end %>
