<h1>Assessores</h1>

<div class="row title-row">
  <div class="col-md-3 title-line">
  </div> <!--col-md-3 -->
</div> <!--row -->

<table>
  <thead>
    <tr>
      <th>Cargo</th> 
      <!-- put label -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessors.each do |assessor| %>
      <tr>
        <td><%= assessor.role %></td>
        <td><%= link_to 'Mostrar', assessor, class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_assessor_path(assessor),  class: "btn btn-default" %></td>
        <!-- <span class="icon-edit"></span> Search-->
        <td><%= link_to 'Deletar', assessor, class: "btn btn-default", method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Assessor', new_assessor_path, class: "btn btn-default" %>
