<h1>Assessores</h1>

<table class="table table-striped table-bordered table-hover table-with-margin">
  <thead>
    <tr>
      <th>Cargo</th> 
      <!-- put label -->
      <th colspan="3">Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @assessors.each do |assessor| %>
      <tr>
        <td><%= assessor.role %></td>
        <td>
          <%= link_to icon('file-text-o'), assessor, class: "btn btn-success", title: "Mostrar" %>
          <%= link_to icon('edit'), edit_assessor_path(assessor),  class: "btn btn-info", title: 'Editar' %>
          <%= link_to icon('trash-o'), assessor, class: "btn btn-danger",title: 'Deletar', method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to icon('plus'), new_assessor_path, class: "btn btn-default", title: 'Novo Assessor' %>
