<h1> Federation </h1>
<div class="row title-row">
  <div class="col-md-3 title-line">
  </div> <!--col-md-3 -->
</div> <!--row -->

<table>
  <thead>
    <tr>
      <th>Nome Formal:</th>
      <th>CNPJ:</th>
      <th>Site:</th>
    </tr>
  </thead>



  
  <tr>
   <% @federations.each do |federation| %>
   <th><%= federation.formal_name %></th>
   <th><%= federation.cnpj %></th>
   <th><%= federation.site %></th>
   <th><%= link_to "Editar", edit_federation_path(federation) %></th>
</tr>
<% end %>
</table>
<%= link_to "Cadastrar Federação", new_federation_path %>