<h1> Federação </h1>

<table class="table table-striped text-center">
	<thead>
    <tr>
      <p><th>Nome Formal:</th></p>
      <th>CNPJ:</th>
      <th>Site:</th>
      <th>Opções</th>
    </tr>
  </thead>
  
  <tbody>
    <% @federations.each do |federation| %>
      <tr>
        <th><%= federation.formal_name %></th>
        <th><%= federation.cnpj %></th>
        <th><%= federation.site %></th>
        <th><%= link_to "Editar", edit_federation_path(federation), class: "btn btn-info" %></th>
      </tr>  
    <% end %>
  </tbody>
</table>

<%= link_to "Cadastrar Federação", new_federation_path, class: "btn btn-default" %>