<h1> Federação </h1>

<table class="table table-striped table-bordered table-hover table-with-margin">
	<thead>
    <tr>
      <th>Nome Formal</th>
      <th>CNPJ</th>
      <th>Site</th>
      <th>Opções</th>
    </tr>
  </thead>
  
  <tbody>
    <% @federations.each do |federation| %>
      <tr>
        <td><%= federation.formal_name %></td>
        <td><%= federation.cnpj %></td>
        <td><%= federation.site %></td>
        <td><%= link_to icon('edit'), edit_federation_path(federation), class: "btn btn-info", title: 'Editar'  %></td>
      </tr>  
    <% end %>
  </tbody>
</table>

<%= link_to icon('plus'), new_federation_path, class: "btn btn-default", title: "Cadastrar Federação" %>