<h1> EJs </h1>
<div class="row title-row">
  <div class="col-md-3 title-line">
  </div> <!--col-md-3 -->
</div> <!--row -->

<table>
	<tr>
    <p><th>Nome Formal:</th></p>  <!-- put labels -->
      
    <th>CNPJ:</th>
    
    <th>Site:</th>
    
  </tr>

  <% @ej.each do |ej| %>

  <tr>
    <th><%= ej.formal_name %></th>
    <th><%= ej.cnpj %></th>
    <th><%= ej.site %></th>
    <th><%= link_to "Mostrar", ej, class: "btn btn-default" %></th>
    <th><%= link_to "Editar", edit_ej_path(ej), class: "btn btn-default" %></th>
  </tr>

  <% end %>

</table>

<p>
<%= link_to "Cadastrar EJ", new_ej_path, class: "btn btn-default" %>