<h1> EJs </h1>

<table class="table table-striped table-bordered table-hover table-with-margin">
	<thead>
    <tr>
      <th>Nome Formal</th>      
      <th>CNPJ</th>    
      <th>Site</th>
      <th>Opções</th>
    </tr>    
  </thead>

  <tbody>
    <% @ej.each do |ej| %>
      <tr>
        <td><%= ej.formal_name %></td>
        <td><%= ej.cnpj %></td>
        <td><%= ej.site %></td>
        <td><%= link_to icon('file-text-o'), ej, class: "btn btn-success", title: "Mostrar" %>
            <%= link_to icon('edit'), edit_ej_path(ej), class: "btn btn-info", title: "Editar" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to icon('plus'), new_ej_path, class: "btn btn-default", title: "Cadastrar EJ" %>