<h1>Membros</h1>

<div class="form-group">
  <%= simple_form_for(:member, method: :get) do |f| %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :role, class: "col-md-4", label: "Busca por cargo", required: false, collection: @roles %>
      </div>
      <%= f.button :submit, "OK", class:"btn btn-success col-md-1 btn-class" %>
    </div>
  <% end %>
</div>

<table class="table table-striped table-bordered table-hover table-with-margin">
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.role %></td>
        <td><%= link_to icon('file-text-o'), member, class: "btn btn-success", title: 'Mostrar'%>
            <%= link_to icon('edit'), edit_member_path(member), class: "btn btn-info", title: 'Editar'%>
            <%= link_to icon('trash-o'), member, class: "btn btn-danger", title: 'Deletar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to icon('plus'), new_member_path, class: "btn btn-default", title: 'Cadastrar Membro' %>
